:root {
  --main-color: #6D767D;
  --bg-color: #EFF1F4;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'HYWenHei', sans-serif;
  color: var(--main-color);
  margin: auto;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)), url("../public/background.webp");
  background-size: cover;
  background-attachment: fixed;
}

ul,
li,
p,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  line-height: 70px;
}

header,
footer {
  width: 100%;
  min-height: 100px;
  padding: 15px;
  background-color: white;
  box-sizing: border-box;
}

header {
  margin-bottom: 15px;
}

main {
  flex: auto;
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;
  border-radius: 20px;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.App-header {
  width: 100%;
}

@media (max-width:800px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width:600px) {
  main {
    padding: 10px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  header {
    min-height: 60px;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
  }
}