.hide:not(.collapse-parent) {
  display: none;
  opacity: 0;
}

/* selection menus */
.selections {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 40%;
}

.excluded {
  position: relative;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

/* animations */

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0)
  }

  5% {
    transform: translateX(4px)
  }

  10% {
    transform: translateX(-4px)
  }

  15% {
    transform: translateX(4px)
  }

  20% {
    transform: translateX(0)
  }
}

/* responsive */

@media (max-width:1125px) {

  .selections,
  .generator {
    width: 95%;
  }
}