/* generator */

.generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: auto;
  position: relative;
  gap: 25px;
}

.loading,
.generator__result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.loading {
  flex-direction: row;
  animation: opacity 1.5s ease-in-out;
  padding-left: 26px;
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50px;
  opacity: 0;
  margin-left: -20px;
}

.generator__result.show {
  animation: opacity 1.5s ease-in-out;
}

.dots.show {
  animation: opacity 2s ease-in-out;
}

.line-before {
  transform: rotate(180deg);
}

.defeat-with {
  white-space: nowrap;
}

.defeat-with img {
  margin: 0px 20px 0px 20px;
  vertical-align: middle;
}

.generator__result {
  flex-direction: column;
  gap: 20px;
  font-size: 28px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.portrait {
  display: flex;
  flex-direction: column;
  aspect-ratio: 0.75/1;
  border-radius: 10px;
  background: linear-gradient(var(--main-color), white);
  box-sizing: border-box;
  border: 1px solid #7F858A;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.generator .portrait {
  max-width: 150px;
  max-height: 200px;
}

.portrait img {
  width: 100%;
  height: 76%;
}

.portrait .name {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  height: 24%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  font-size: 18px;
  padding: 10px 7px 10px 7px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.generate__btn {
  background-color: var(--bg-color);
  border: 1px solid rgba(109, 118, 125, 0.5);
  font-family: inherit;
  font-size: 28px;
  color: inherit;
  border-radius: 25px;
  padding: 10px 40px 10px 40px;
  margin-top: 25px;
}

.hide:not(.collapse-parent) {
  display: none;
  opacity: 0;
}

/* selection menus */
.collapse-parent {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.character__list {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

.character__list .name {
  font-size: 14px;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* responsive */
@media (max-width:800px) {
  .portrait .name {
    font-size: 16px;
  }

  .team {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width:600px) {
  .portrait {
    max-height: 180px;
  }

  .generate__btn {
    font-size: 20px;
  }

  .generator__result {
    font-size: 20px;
  }
}