@font-face {
  font-family: 'HYWenHei 85W';
  font-style: normal;
  font-weight: normal;
  src: local('HYWenHei 85W'), url('assets/font/zhcn.woff') format('woff');
  }

body {
  font-family: 'HYWenHei 85W';
  margin: auto;
  max-width: 1024px;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: auto;
  max-width: 80%;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: normal;
}
.generator {
  font-size: 1.5rem;
}

.generator__result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border: 1px solid #8a6a43;
  margin: 0.5rem;
  background-color: #cca574;
  overflow: hidden;
}
.portrait .img{
  width: 100%;
  height: 70%;
}
.portrait .name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  min-width: 0px;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  color: #ffff;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.13rem;
  
}
.name p { 
  max-height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.team {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.generate__btn {
  font-family: inherit;
  background-color: #cca574;
  border:2px solid #8a6a43;
  color: #ffff;
  border-radius: 20px;
  padding: 15px 35px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 1.6rem;
  margin-top: 2rem;
}

@media (max-width:600px) {
 body{
  margin: 1rem;
 }
 .team {
  width: 100%;
 }
 h1{
  font-size: 2rem;
  max-width: 100%;
 }
 .portrait {
  width: 40%;
  height: 170px;
 }
 .portrait .name {
  font-size: 1rem;
 }
}
